.card-wrapper{
  .card-content{
    min-height: 73vh;
  }
  .title{
    display: inline-block;
    font-weight: bold;
  }
  .right-icon{
    float: right;
  }
  .item-carousel{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
  }
  .image-wrapper{
    display: flex;
    justify-content: center;
  }
  .cropper {
    border: #c3c3c3 1px solid;
  }
}
